<div id="wrapper">
  <div class="group">
    <label for="book-name">Име на книгата:</label>
    <input type="text" id="book-name" name="book-name" [disabled]="!canEdit" [(ngModel)]="currentBook.name">
  </div>
  <div class="group">
    <label for="book-description">Описание на книгата:</label>
    <textarea id="book-description" name="book-description" rows="4" [disabled]="!canEdit" [(ngModel)]="currentBook.description"></textarea>
  </div>
  <div class="group">
    <label for="book-author">Автор на книгата:</label>
    <input type="text" id="book-author" name="book-author" [disabled]="!canEdit" [(ngModel)]="currentBook.author">
  </div>
  <div class="current-rating" *ngIf="currentBook.rating && !showAdditionalModal">
    <p>Рейтинг до момента: {{ calculateCurrentRating() }}</p>
  </div>
  <div class="rating" *ngIf="!showAdditionalModal">
    <label>Оценка:</label>
    <button (click)="handleRatingOfBook(1)" value="1">1</button>
    <button (click)="handleRatingOfBook(2)" value="2">2</button>
    <button (click)="handleRatingOfBook(3)" value="3">3</button>
    <button (click)="handleRatingOfBook(4)" value="4">4</button>
    <button (click)="handleRatingOfBook(5)" value="5">5</button>
  </div>
</div>

<div *ngIf="showAdditionalModal" id="additionalModal">
  <h2>Вие оценихте всички книги успешно!</h2>
  <button class="submit" (click)="handleContinueReviewing()">Искам да ги оценя отново!</button>
  <button class="danger" (click)="handleEndReviewing()">Окей, край.</button>
</div>
